@font-face {
    font-family: "Rubik";
    src: url("./font/Rubik.ttf") format('truetype');
   }
/* general styling */
* {
    user-select: none;
    transition:  ease-in 0.5s;
}
body{
    font-family: "Rubik", Arial;
    background-color: black;
    color: #B7B7B7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}

.seconds{
    position: relative;
}

span{
    font-size: smaller;
}
/* mobile-styling */
.clock {
    display: grid;
    gap: 1em;
    width: 90vw;
}
.container {
    background-color: #1A1A1A;
    border-radius: 25px;
    text-align: center;
    font-size: 6em;
    padding: 4rem 3rem;

}

.timeRange{
    position: absolute;
    bottom: 0em;
    padding: 1em;
    text-transform: uppercase;
}





/* tablet styling */

@media only screen and (min-width: 500px) {
    body {
        padding: 2em;
    }
    .clock {

        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 1em;
    }

    .container {
        border-radius: 25px;
        text-align: center;
        font-size: 10em;
        /* padding: 3rem 6rem; */
    
    }
    

}


/* desktop styling */

@media only screen and (min-width: 1280px) {
    body {
        padding: 5rem;
    }

.clock {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 1%;
}
.container {
    padding: 3rem 6rem;
    border-radius: 25px;
    text-align: center;
    background-color: #1A1A1A;
    font-size: 25em;
    font-weight: 900;
}
.timeRange{
    position: absolute;
    bottom: 0em;
    padding: 1em;
    text-transform: uppercase;
    font-size: 50px;
}
}
